<div class="flex justify-center px-2 pt-40">
  <div
    class="w-full max-w-max overflow-hidden rounded-lg px-10 py-20 shadow-md dark:bg-custom-dark-1"
  >
    <h1
      class="pb-10 text-center text-3xl font-extrabold text-gradient-light dark:text-gradient-dark sm:text-5xl md:text-7xl xl:text-8xl"
    >
      {{ saludo }}
    </h1>
    <div class="flex flex-col items-center justify-center">
      <span class="font-semibold text-yellow-400 dark:text-yellow-500"
        >Warning!</span
      >
      <p class="mt-2 text-center text-sm text-gray-600 dark:text-white">
        < Page under construction />
      </p>
    </div>
  </div>
</div>
